*~
*.dat
par_*
nohup.out
*.eps
rslt_*
archive
CPdata_*
date.txt
date_server.txt
plots
CP_true_*
MH_CP_th23_beam-ratio_finish.*
status
beam_new_dir.txt
maindir.txt
job_system.txt
temp/params.card
beam_neu_dir.txt